BuzzBlast - crossposting workflow.json
{
  "name": "BuzzBlast (final update)",
  "nodes": [
    {
      "parameters": {
        "content": "Receives the initial chat message that triggers the workflow. This node captures user input from a configured chat platform, which is then passed to the AI for optimization.",
        "width": 300,
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-760, -340],
      "id": "fd9460dc-62b8-42c2-b18f-5a37ef3cd2c3",
      "name": "Sticky - Chat Trigger"
    },
    {
      "parameters": {
        "content": "Uses OpenRouter's AI to optimize the input message for virality across X, Discord, and LinkedIn. Detects the input language and generates platform-specific content in the same language.",
        "width": 300,
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, -340],
      "id": "2b5337cc-d674-49ea-8581-73acf70f3e87",
      "name": "Sticky - AI Optimizer"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\nConfigures the OpenRouter AI model (LLaMA-4) to process the chat input and generate optimized content for each social media platform.",
        "height": 180,
        "width": 280,
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-520, 80],
      "id": "f50c4cf5-ea73-428b-90ea-d4a3c195bf3a",
      "name": "Sticky - OpenRouter"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\nParses the AI-generated output into a structured JSON format, separating content for each platform (X, Discord, LinkedIn).",
        "height": 180,
        "width": 280,
        "color": {}
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, 80],
      "id": "d842efaf-291b-4c1a-8bc2-8434b6cfe9b0",
      "name": "Sticky - Parser"
    },
    {
      "parameters": {
        "content": "Splits the structured JSON output into individual items for each platform, enabling routing to the appropriate social media node.",
        "width": 220,
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -340],
      "id": "e3ae43d2-1dab-473a-bbf9-1bd35c6944ed",
      "name": "Sticky - Split"
    },
    {
      "parameters": {
        "content": "Routes the optimized content to the correct platform (X, Discord, or LinkedIn) based on the 'platform' field in the JSON output.",
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -340],
      "id": "f8e2ab9d-f96a-4748-8bcb-d9dfa8a24ef1",
      "name": "Sticky - Switch"
    },
    {
      "parameters": {
        "content": "Posts the AI-optimized content to X, using the input message and the output tailored for X's character limits and style.",
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, -540],
      "id": "024b6c38-65fd-4f1d-8dd6-31045c97088f",
      "name": "Sticky - Post to X"
    },
    {
      "parameters": {
        "content": "Sends the AI-optimized content to a Discord server via a webhook, formatted for community engagement.",
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, 40],
      "id": "7e24ed1a-4a6f-4f51-8afb-8239cb832bde",
      "name": "Sticky - Post to Discord"
    },
    {
      "parameters": {
        "content": "Shares the AI-optimized content on LinkedIn, formatted for professional tone and audience engagement.",
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, -260],
      "id": "3184d4bd-3f42-4284-918a-5344431ae9ae",
      "name": "Sticky - Post to LinkedIn"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-360, 0],
      "id": "f56606cf-4fee-4037-8096-0083e6118f3e",
      "name": "Generate Content",
      "credentials": {
        "openRouterApi": {
          "id": "DPrHlBN0s5WFDxi9",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"platform\": \"twitter\",\n    \"content\": \"tweet goes here\"\n  },\n  {\n    \"platform\": \"discord\",\n    \"content\": \"message goes here\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [-200, 0],
      "id": "158d2322-527c-402a-a26d-87f74004ba7a",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "content": "**Enjoy BuzzBlast for free!** Got ideas, feedback, or just wanna chat? Hit me up at [khmuhtadin.com](https://khmuhtadin.com).  \n\nFeeling generous? Buy me a coffee at [buymeacoffee.com/khmuhtadin](https://buymeacoffee.com/khmuhtadin) to keep the buzz going! ☕",
        "height": 180,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 80],
      "id": "ff1097b0-b0cd-4c62-aa10-54fc2890b3f2",
      "name": "Sticky - Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [20, -200],
      "id": "eee77d13-62cc-43b7-be0b-6fccc9f82647",
      "name": "Split Platform Content"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50e6b6e3-dba7-4a9c-bd87-e70cddd17f8a",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "Twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "Discord",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0f14d2c8-74ab-4c19-8249-46d01fc9cbad"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Discord"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fae91576-c20a-47e2-b045-7bbc05e85f55",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6f01c3d4-6d89-4223-9140-7fe2288e4375",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "Linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Linkedin"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [260, -220],
      "id": "f418837e-a963-437b-9f11-7184b90c661a",
      "name": "Route to Platform"
    },
    {
      "parameters": {
        "text": "=test automation: \ninput: {{ $('Chat Input Trigger').item.json.chatInput }}\n\noutput: {{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [660, -440],
      "id": "88b9267d-f9a7-4cd1-98a5-1c61ca803996",
      "name": "Post to X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "aqNCObySDN0ov1eG",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "person": "XkhxgLp6zG",
        "text": "=test app buzzer LOL\ninput: {{ $('Chat Input Trigger').item.json.chatInput }}\n\noutput: {{ $json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [660, -160],
      "id": "dc5f941f-5236-4aca-97ab-f619a3cb1a48",
      "name": "Post to LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "PTWnCdmDwxD5qWcc",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=test automation: \ninput: {{ $('Chat Input Trigger').item.json.chatInput }}\n\noutput: {{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [660, 140],
      "id": "4f7e82f3-003c-4fdc-8ed6-6adaab7e9a13",
      "name": "Post to Discord",
      "webhookId": "b00e2e50-81ad-4d96-8457-84d2518dc851",
      "credentials": {
        "discordWebhookApi": {
          "id": "LLZlMnlqvhY0SVaL",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-580, -200],
      "id": "4aaec093-6d34-4810-b297-6f1204bf7b4f",
      "name": "Chat Input Trigger",
      "webhookId": "463358fb-2984-4e4f-be94-46a3e1365380"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Do as instructed!",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=you are a social media specialist, optimize this input ({{ $json.chatInput }}) for several platform like twitter, discord and linkedin\n\nthe main focus is to get viral!\n\ndetect the language input first. generate the output in the same language"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [-360, -200],
      "id": "d1f3a884-bcbb-4035-a52f-36b167bf9fd8",
      "name": "AI Content Optimizer"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Content": {
      "ai_languageModel": [
        [
          {
            "node": "AI Content Optimizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Content Optimizer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Platform Content": {
      "main": [
        [
          {
            "node": "Route to Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Platform": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Input Trigger": {
      "main": [
        [
          {
            "node": "AI Content Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Optimizer": {
      "main": [
        [
          {
            "node": "Split Platform Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54ba9553-2908-40fb-a5e6-8e0be38434fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2650793f644091dc80fb900fe63448ad1f4b774008de9608064d67294f8307c"
  },
  "id": "eSPsRuvDjDKmvlRD",
  "tags": []
}
