wordpress-generator.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-60, -240],
      "id": "b4a12e29-f3d4-4c26-bd9a-354f4c0a8301",
      "name": "Telegram Trigger",
      "webhookId": "a9b697dc-5b4e-418c-83ed-54966ce7ea34",
      "credentials": {
        "telegramApi": {
          "id": "<telegram_id>",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3dbc34fc-8457-422f-807e-123b5f16bd0c",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "generate",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [120, -240],
      "id": "5897f10e-94f8-40b2-b1de-0db0bea0cb73",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Do as instructed!",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are the world's most skilled blog writer! You understand how to create a great SEO article! Your specialization is generating articles about Technology and Artificial Intelligence!\n\nYour task is to write for a blog named Dax AI. You must select one topic from the available categories on Dax AI, then create a captivating and relevant article title for the current date, which is {{ $json.Year }}.\n\nYour output should include the category name, the article title, a focus phrase (max 2 words, take the general idea for this) for SEO, and a meta description (maximum 160 characters).\n\nThe allowed categories are: ENSURE YOU CHOOSE ONE CATEGORY RANDOMLY, DO NOT JUST PICK THE TOP ONE:\n- Technology\n- Artificial Intelligence (AI)\n- Tech Fact\n- Tech History\n- Tech Tips\n\nEnsure the category name is output exactly as listed, including capitalization!\n\nIMPORTANT\n- DO NOT USE COLON (:) IN TITLE\n- Do not exaggerate\n- Do not be robotic\n- It's okay to generate a clickbait title\n- Include a focus phrase relevant to the title\n- Include a meta description that summarizes the article in under 160 characters\n- DONT MAKE A ROBOTIC TITLE\n\nEVERY TITLE MUST BE UNIQUE \ndont exagerating"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [320, -320],
      "id": "db18a316-a9c8-491e-8a1a-3bb2b5c13dab",
      "name": "Topic Chooser and Title Maker"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.output.title }}. Category: {{ $json.output.category }}\n\nMANDATORY: {{ $json.output.focus_phrase }} must be included in the introduction, title, meta description, H2/H3 subheadings, and URL slug. Ensure {{ $json.output.focus_phrase }} appears at least 4 times in the content for optimal density.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an elite blog writer for Dax AI, renowned for creating highly valuable, SEO-optimized, and audience-focused long-form articles. Your mission is to write engaging, actionable, and insightful articles based on the provided title and topic. Please adhere to the following requirements:\n\n### IMPORTANT ###\n- Content Focus:\nDeliver practical tips, strategies, step-by-step guides, or deep insights directly related to the topic.\nPrioritize actionable, informative, and original advice that provides real value to readers.\n\n- Article Structure:\nMinimum length: 1500 words. Organize content clearly using WordPress-compatible formatting.\n\n- SEO Optimization:\nEnsure the article is easy to read, scannable, and provides comprehensive coverage of the topic.\n\n- Format & Output:\nIMPORTANT\nOutput only the article body in plain text, with accurate heading levels and formatting suitable for direct posting in WordPress.\n\nDO NOT GIVE A FORMAT TO LIST (– **Android Automation Apps:**) instead make it like this (– Android Automation Apps:)\n\nDo not include any comments, notes, instructions, or extra explanations—provide only the ready-to-publish article content.\n\nCRITICAL:\nBefore generating output, MAKE SURE THERE IS NO MARKDOWN OR ANY FORMATTING. JUST A PLAIN BODY TEXT\n\nThe article will be directly posted into WordPress; make sure the format is appropriate for WordPress formatting and do not add any prefix or suffix except the article content because the article will not be checked.\n\nNEVER GIVE MARKDOWN OUTPUT, BUT IN WORDPRESS ARTICLE FORMAT\n\nDO NOT ADD THE TITLE INTO RESULT!"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [640, -320],
      "id": "a3a3882c-217e-48de-af9f-02a9c1ee7422",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"category\": \"Technology\",\n\t\"title\": \"Article Title\",\n\t\"focus_phrase\": \"focus phrase for SEO\",\n\t\"meta_description\": \"meta description under 160 characters\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [500, -120],
      "id": "a0522847-0a7f-4445-8928-ad617edbd5dd",
      "name": "Topic Chooser and Title Maker Parser"
    },
    {
      "parameters": {
        "title": "={{ $('Topic Chooser and Title Maker').item.json.output.title }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $json.text }}",
          "status": "publish",
          "format": "standard",
          "categories": "={{ $('Topic Chooser and Title Maker').item.json.output.category == \"Technology\" ? [3] :\n    $('Topic Chooser and Title Maker').item.json.output.category == \"Artificial Intelligence (AI)\" ? [4] :\n    $('Topic Chooser and Title Maker').item.json.output.category == \"Tech Fact\" ? [7] :\n    $('Topic Chooser and Title Maker').item.json.output.category == \"Tech History\" ? [8] :\n    $('Topic Chooser and Title Maker').item.json.output.category == \"Tech Tips\" ? [9] : [1] }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [340, 20],
      "id": "a9c2872f-0634-4734-aef7-5f2247921f15",
      "name": "Wordpress Post Draft",
      "credentials": {
        "wordpressApi": {
          "id": "gGfRrkCtaoISRmDr",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Create a highly realistic, natural-looking image that visually represents the blog article titled \"{{ $json.title.raw }}\". The image should be grounded in reality with believable lighting, textures, and composition—avoid fantasy or surreal elements. Focus on lifelike details that a real camera could capture. Do not include any text in the image.",
        "options": {
          "size": "1024x1024",
          "style": "vivid"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [740, 20],
      "id": "210ee842-b478-4b61-ab94-7ac39fba6af6",
      "name": "OpenAI - Generate Image",
      "credentials": {
        "openAiApi": {
          "id": "openai_api",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<your-website>/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{$now.toMillis()}}.png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, -100],
      "id": "ace73130-b7f3-4bad-bd7a-e3a17bc28dd4",
      "name": "Upload Image to WP",
      "credentials": {
        "wordpressApi": {
          "id": "gGfRrkCtaoISRmDr",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cartilo.my.id/wp-json/wp/v2/posts/{{ $('Wordpress Post Draft').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, -100],
      "id": "4d782c0b-82d3-45dd-b1ed-8519ef4d3285",
      "name": "Wordpress - Set Featured Image",
      "credentials": {
        "wordpressApi": {
          "id": "gGfRrkCtaoISRmDr",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [120, -60],
      "id": "90775bad-4069-4ca0-a3f8-61d48b999e9d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cartilo.my.id/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meta\": {\n    \"_yoast_wpseo_focuskw\": \"{{ $('Topic Chooser and Title Maker').item.json.output.focus_phrase }}\",\n    \"_yoast_wpseo_metadesc\": \"{{ $('Topic Chooser and Title Maker').item.json.output.meta_description }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 20],
      "id": "92ac2f35-2a33-40d2-8171-aed9b1f3af19",
      "name": "Yoast Meta Desc & Focus Paraphrase",
      "credentials": {
        "wordpressApi": {
          "id": "gGfRrkCtaoISRmDr",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [340, -120],
      "id": "251a8cc4-2621-4923-8936-f365b0cf3185",
      "name": "Title, category, meta, keyphrase generator",
      "credentials": {
        "openRouterApi": {
          "id": "openrouter_id",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [680, -120],
      "id": "62e55e95-d3d3-4d27-930f-0e5a93ebce04",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xgxbqurhU1VXjSge",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Published!\n{{ $json.link }}",
        "options": {},
        "embeds": {
          "values": [{}]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1280, -200],
      "id": "d1498e8c-8314-4067-af31-9beb13b2161f",
      "name": "Send to Discord Using Webhook",
      "webhookId": "cb4eabb5-f71b-4a38-9e4a-68555e7c5e8e",
      "credentials": {
        "discordWebhookApi": {
          "id": "Discord_webhook",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Chooser and Title Maker": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Chooser and Title Maker Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Topic Chooser and Title Maker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Wordpress Post Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Post Draft": {
      "main": [
        [
          {
            "node": "Yoast Meta Desc & Focus Paraphrase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Image": {
      "main": [
        [
          {
            "node": "Upload Image to WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to WP": {
      "main": [
        [
          {
            "node": "Wordpress - Set Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Topic Chooser and Title Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress - Set Featured Image": {
      "main": [
        [
          {
            "node": "Send to Discord Using Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yoast Meta Desc & Focus Paraphrase": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title, category, meta, keyphrase generator": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Chooser and Title Maker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Topic Chooser and Title Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7fb3da8-e309-445e-922c-b9a63459c972",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2650793f644091dc80fb900fe63448ad1f4b774008de9608064d67294f8307c"
  },
  "id": "rE1lx0QEhzeVw30K",
  "tags": []
}
