Google Sheet/Fluentform_Export.json
{
  "name": "Fluentform Export",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\"\n}",
        "options": {}
      },
      "id": "f9a0fc6b-4644-4079-8c00-234a6a4e6e92",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5eecb1d8-1dde-4db6-9a99-c5ab39c58653",
              "name": "email",
              "value": "={{ $json.body.__submission.user_inputs.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -100
      ],
      "id": "bac186bc-e19d-431b-a6bb-e5cd3af9a031",
      "name": "newsletter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7d088f7-6335-4390-b8cf-1e1caf4249bc",
              "name": "fullname",
              "value": "={{ $json.body.names.first_name }} {{ $json.body.names.last_name }}",
              "type": "string"
            },
            {
              "id": "ba15b685-5fdf-49c5-a5cf-0581355032b9",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "f8db42b1-3b5d-4b42-b5cd-c6d7696dba1a",
              "name": "no hp",
              "value": "={{ $json.body.numeric_field }}",
              "type": "string"
            },
            {
              "id": "c3b4c6d6-a227-4263-98ca-f3c20d09846d",
              "name": "subject",
              "value": "={{ $json.body.subject }}",
              "type": "string"
            },
            {
              "id": "279f2943-cb5d-4ed7-8ea8-a839e3c1b9cc",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        100
      ],
      "id": "68dc8440-a45c-4577-b303-3c127e2bd880",
      "name": "form"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fnNjkwA12R1wDyevySgkMaYbkJVAtagfRC8dyeyJMII",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnNjkwA12R1wDyevySgkMaYbkJVAtagfRC8dyeyJMII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "News Letter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnNjkwA12R1wDyevySgkMaYbkJVAtagfRC8dyeyJMII/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        840,
        -100
      ],
      "id": "64383e9d-39ac-41b6-9369-88a8ac3cf441",
      "name": "Append newsletter",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnUSHhCw4cKx3pwo",
          "name": "khaisa sheet"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "your-path",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "25bc2a16-19d6-4e15-9735-316b9aea5e60",
      "name": "POST - Retreive Leads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        0
      ],
      "webhookId": "1c16c205-1617-43ca-83de-207e5fcc6de6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b096ba9d-1b60-47ab-ab9f-a4e83c953e8b",
              "leftValue": "={{ $json.body._fluentform_2_fluentformnonce }}",
              "rightValue": "c40c9119f6",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "19fa286d-10ae-4afc-bf19-113a085fc371",
      "name": "Form or newsletter?"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fnNjkwA12R1wDyevySgkMaYbkJVAtagfRC8dyeyJMII",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnNjkwA12R1wDyevySgkMaYbkJVAtagfRC8dyeyJMII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 799661662,
          "mode": "list",
          "cachedResultName": "form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fnNjkwA12R1wDyevySgkMaYbkJVAtagfRC8dyeyJMII/edit#gid=799661662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "full name": "={{ $json.fullname }}",
            "no hp": "={{ $json['no hp'] }}",
            "subject": "={{ $json.subject }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "full name",
              "displayName": "full name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "no hp",
              "displayName": "no hp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        840,
        100
      ],
      "id": "1a5b1211-c7cb-46b7-a108-4c9dca305d24",
      "name": "append form",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnUSHhCw4cKx3pwo",
          "name": "khaisa sheet"
        }
      }
    },
    {
      "parameters": {
        "content": "## Guideline\n\n- adjust your ```webhook url``` on fluent form\n- configure your spreadsheet credentials",
        "width": 320
      },
      "id": "node_tuuo8spg6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -200
      ]
    },
    {
      "parameters": {
        "content": "### This Workflow is free!\n Got ideas, feedback, or just wanna chat? Hit me up [here](https://khmuhtadin.com)  \n\nFeeling generous? Buy me a  [coffee](coff.ee/khmuhtadin) to keep the buzz going! ☕",
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        160
      ],
      "id": "25381d46-98e9-49a1-911f-5d2928ed906b",
      "name": "Sticky - Parser1"
    }
  ],
  "pinData": {},
  "connections": {
    "newsletter": {
      "main": [
        [
          {
            "node": "Append newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form": {
      "main": [
        [
          {
            "node": "append form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append newsletter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST - Retreive Leads": {
      "main": [
        [
          {
            "node": "Form or newsletter?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form or newsletter?": {
      "main": [
        [
          {
            "node": "newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append form": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6fc3feab-072e-4c00-92a9-b5d4399dd624",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2650793f644091dc80fb900fe63448ad1f4b774008de9608064d67294f8307c"
  },
  "id": "utlCHj75iFNNfZRx",
  "tags": []
}